.app-list {
  width: 100%;
  height: 100%;

  .apps {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;

    .app-badge {
      width: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 4%;

      .name {
        display: block;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 2.6vw;
      }

      img:before {
        content: '';
        float: left;
        padding-top: 100%;
      }

      img {
        width: 100%;
        border-radius: 30%;
        overflow: hidden;
        border: 2px var(--background) solid;
        background-color: var(--color-08dp);
      }

      &:active {
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        img {
          border-color: var(--primary);
          filter: grayscale(1);
        }

        .name {
          color: var(--primary);
        }
      }
    }
  }
}
