@import "~@superscreenpi/uikit";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.round.button {
  display: flex;
  padding: 6px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
