@import "~@superscreenpi/uikit";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "components/AppList";
@import "views/HomeView";
@import "views/NavBar";

#root {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.round.button {
  display: flex;
  padding: 6px;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
